/* ########################### */
/* ####### NORMAL MENU ####### */
/* ########################### */
.menu {
  width: auto;
  padding-right: 50px;
}

.menu:before .menu:after {
  content: '';
  display: table;
}

.menu:after {
  clear: both;
}

.menu li {
  float: left;
  position: relative;
}

.menu a {
  float: left;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
}

.menu li:hover > a {
  color: black;
  background-color: #ffcc00;
  border-radius: 3px;
}

.menu ul li a {
  border-radius: 3px;
}

.menu ul {
  margin: 20px 0 0 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 46px;
  left: 0px;
  z-index: 1;
  background-color: #262626;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.menu li:hover > ul {
  opacity: 1;
  visibility: visible;
  margin: 0;
}

.menu ul ul {
  top: 0;
  left: 100px;
  margin: 0 0 0 20px;
}

.menu ul li {
  float: none;
  display: block;
  border: 0;
  color: black;
  -webkit-box-shadow: 0 1px #111, 0 2px 0 #666;
          box-shadow: 0 1px #111, 0 2px 0 #666;
}

.menu ul li:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu ul a {
  padding: 10px;
  display: block;
  white-space: nowrap;
  float: none;
}

.menu ul a:hover {
  background-color: #ffcc00;
}

.menu ul li:first-child > a {
  border-radius: 3px 3px 0 0;
}

.menu ul li:first-child > a::after {
  content: '';
  position: absolute;
  left: 20px;
  top: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
}

.menu ul ul li:first-child a::after {
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-right: 6px solid #fff;
  left: -6px;
  top: 50%;
  margin-top: -6px;
  border-left: 0;
}

.menu ul li:first-child a:hover::after {
  border-bottom-color: #fff;
}

.menu ul ul li:first-child a:hover::after {
  border-bottom-color: transparent;
  border-right-color: #fff;
}

.menu ul li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.toggler {
  display: none;
}

/* ############################### */
/* ####### HAMBURGUER MENU ####### */
/* ############################### */
@media screen and (max-width: 600px) {
  .toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-wrap .toggler {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  .menu-wrap .hamburger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 30px;
    height: 30px;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .menu-wrap .hamburger > div::before, .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background-color: inherit;
  }
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  .menu-wrap .toggler:checked + .hamburger > div {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .menu-wrap .toggler:checked + .hamburger > div::before, .menu-wrap .toggler:checked + .hamburger > div::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  /* show menu */
  .menu-wrap .toggler:checked ~ .box-menu {
    visibility: visible;
    -webkit-transition-duration: 4s;
            transition-duration: 4s;
  }
  .menu-wrap .toggler:checked ~ .box-menu > div {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition-duration: 1.5s;
            transition-duration: 1.5s;
  }
  .menu-wrap .toggler:checked ~ .box-menu > div > div {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .menu-wrap .box-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    -webkit-animation: boxmenu 3s forwards;
            animation: boxmenu 3s forwards;
  }
  @-webkit-keyframes boxmenu {
    0% {
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  @keyframes boxmenu {
    0% {
      background-color: rgba(0, 0, 0, 0);
    }
    100% {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }
  .menu-wrap .box-menu > div {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    padding-top: 50px;
    width: 50vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .menu-wrap .box-menu > div > div {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
  }
  .menu-wrap .box-menu > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
  }
  .menu-wrap .box-menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    -webkit-transition: color 0.4s ease;
    transition: color 0.4s ease;
  }
  /* ## CONTENT MENU ## */
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    padding-right: 0px;
  }
  .menu:before .menu:after {
    content: '';
    display: table;
  }
  .menu:after {
    clear: both;
  }
  .menu li {
    float: none;
    position: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    border: 2px solid #ffcc00;
    background-color: #262626;
    border-radius: 5px;
  }
  .menu li:first-child:hover {
    padding: 10px 5px;
  }
  .menu li:hover {
    padding: 1px;
    background-color: #ffcc00;
    color: black;
  }
  .menu li a {
    font-size: 18px;
    padding: 5px;
  }
  .menu a {
    float: none;
    padding: 0;
  }
  .menu li:hover > a {
    background-color: #ffcc00;
    font-weight: bold;
  }
  .menu ul {
    display: none;
    padding: 5px;
    margin: 20px 0 0 0;
    opacity: 0;
    visibility: hidden;
    position: static;
    z-index: 1;
    background-color: #262626;
    border-radius: none;
  }
  .menu li:hover > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 1;
    visibility: visible;
    margin: 0;
  }
  .menu ul ul {
    top: none;
    left: none;
    margin: 0;
    padding: 5px;
  }
  .menu ul li a {
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: #ffcc00;
  }
  .menu ul li {
    width: 200px;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0;
    margin: 5px 10px;
    -webkit-box-shadow: 0 1px #111, 0 2px 0 #666;
            box-shadow: 0 1px #111, 0 2px 0 #666;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 2px;
  }
  .menu ul li:first-child:hover {
    padding: 1px;
  }
  .menu ul li:last-child {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .menu ul a {
    padding: 10px;
    display: block;
    white-space: nowrap;
    float: none;
  }
  .menu ul a:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 1px solid #ffcc00;
    border-radius: 3px;
  }
  .menu ul li:first-child > a {
    border-radius: 3px 3px 0 0;
  }
  .menu ul li:first-child > a::after {
    border: none;
  }
  .menu ul ul li a:hover {
    font-size: 14px;
  }
  .menu ul ul li:first-child a::after {
    border: none;
  }
  .menu ul li:first-child a:hover::after {
    border: none;
  }
  .menu ul ul li:first-child a:hover::after {
    border: none;
  }
  .menu ul ul li {
    margin: 5px 0;
    padding: 0;
  }
  .menu ul li:last-child > a {
    border-radius: 0 0 3px 3px;
  }
}

#slider {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
  z-index: -1;
}

#slider input[type="radio"] {
  display: none;
}

#slider label {
  cursor: pointer;
  text-decoration: none;
}

#slides {
  padding: 0px;
  /* border: 3px solid #ccc; */
  background: #fff;
  position: relative;
  z-index: 1;
}

#overflow {
  width: 100%;
  overflow: hidden;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}

#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}

#slides .inner {
  -webkit-transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 860px;
}

#slides .slide {
  width: 25%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
}

#slides .slide_1 {
  background: url(/images/Cricket-Home.jpg);
  background-size: cover;
}

#slides .slide_2 {
  background: url(/images/Cricket-Junior.jpg);
  background-size: cover;
}

#slides .slide_3 {
  background: url(/images/Cricket-Women.jpg);
  background-size: cover;
}

#slides .slide_4 {
  background: url(/images/Cricket-Club.jpg);
  background-size: cover;
}

.slide_1 .slide-content h2 {
  font-size: 72px;
  padding-bottom: 40px;
}

.slide_1 .slide-content p {
  font-size: 20px;
}

#controls {
  margin: -410px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}

#controls label {
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.6;
}

#controls label:hover {
  opacity: 1.5;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0px;
  display: block;
}

#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0px;
  display: block;
}

#bullets {
  margin: 330px 0 0;
  text-align: center;
  position: relative;
  z-index: 3;
}

#bullets label {
  display: inline-block;
  width: 20px;
  height: 5px;
  border-radius: 20px;
  /* background: #ccc; */
  background-color: #b9c1cc;
  /* border: 1px solid black; */
  margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: #ffcc00;
}

@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
  #slides {
    max-width: calc(100% - 140px);
    margin: 0 auto;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  font-family: 'Roboto', sans-serif;
}

body ul, body li, body a {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0;
}

nav {
  height: 860px;
}

nav .nav_bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1001;
}

nav .box-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

nav .logo img {
  width: 80px;
  padding-left: 50px;
}

.about_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.about_container .grid_about {
  width: 80%;
  height: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  grid-row: repeat(10, 1fr);
}

.about_container .grid_about .content_about {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  background-color: whitesmoke;
}

.about_container .grid_about .img_about {
  width: 90%;
  height: 85%;
  -ms-grid-column: 5;
  -ms-grid-column-span: 5;
  grid-column: 5/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 8;
  grid-row: 2/10;
  z-index: 1;
  overflow: hidden;
  background-color: white;
  border: 10px solid white;
  border-radius: 0 5px 5px 0;
}

.about_container .grid_about .img_about > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.about_container .grid_about .about_cell {
  -ms-grid-column: 6;
  -ms-grid-column-span: 5;
  grid-column: 6/11;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  background-color: #ffcc00;
}

.about_container .grid_about .content_about {
  padding: 150px 0 0 200px;
}

.about_container .grid_about .content_about h1 {
  font-size: 48px;
  font-weight: bold;
}

.about_container .grid_about .content_about p {
  width: 50%;
  font-size: 22px;
  font-style: italic;
  line-height: 1.6;
  color: #111111;
}

.about_container .grid_about .content_about button {
  width: 180px;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
  background-color: #666666;
  color: #fff;
  border: 2px solid black;
}

.about_container .grid_about .content_about button:hover {
  background-color: #ffcc00;
  cursor: pointer;
  color: black;
}

.news-events_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 50px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: whitesmoke;
}

.news-events_container h1 {
  font-size: 30px;
  font-style: bold;
  color: white;
  text-shadow: 2px 2px 8px rgba(17, 17, 17, 0.6);
}

.news-events_container hr {
  width: 70%;
  height: 5px;
  border: none;
  margin-bottom: 40px;
  border-radius: 2px;
  background-color: white;
}

.news-events_container .grid_news-events {
  width: 80%;
  height: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (1fr)[10];
      grid-template-rows: repeat(10, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.news-events_container .grid_news-events .news-events_cell {
  min-height: 250px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 10;
  grid-column: 1/11;
  -ms-grid-row: 2;
  -ms-grid-row-span: 7;
  grid-row: 2/9;
  background-color: #ffcc00;
  border-radius: 20px;
}

.news-events_container .grid_news-events .item1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
  background-color: tomato;
  border: 5px solid white;
  z-index: 1000;
}

.news-events_container .grid_news-events .item1 img {
  width: 100%;
  height: 100%;
}

.news-events_container .grid_news-events .item2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
}

.news-events_container .grid_news-events .item3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
}

.news-events_container .grid_news-events .item4 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  -ms-grid-row: 1;
  -ms-grid-row-span: 9;
  grid-row: 1/10;
}

.news-events_container .grid_news-events .item2, .news-events_container .grid_news-events .item3, .news-events_container .grid_news-events .item4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1001;
}

.news-events_container .grid_news-events .item2 img, .news-events_container .grid_news-events .item3 img, .news-events_container .grid_news-events .item4 img {
  width: 100%;
  height: 50%;
  border: 5px solid white;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news-events_container .grid_news-events .item2 h5, .news-events_container .grid_news-events .item3 h5, .news-events_container .grid_news-events .item4 h5 {
  font-size: 22px;
  padding: 40px 20px;
  margin: 0;
  font-weight: bold;
}

.news-events_container .grid_news-events .item2 p, .news-events_container .grid_news-events .item3 p, .news-events_container .grid_news-events .item4 p {
  font-size: 16px;
  text-align: justify;
  line-height: 1.6;
  padding: 10px;
  margin: 0;
}

.aside_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 330px;
  background-color: white;
}

.aside_container .box_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1150px;
  height: 250px;
  background-color: white;
  border: 5px solid #808080;
  border-radius: 10px;
}

.aside_container .box_content .box_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.aside_container .box_content .box_link img {
  max-width: 92px;
  max-height: 92px;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #ffcc00;
  background-color: #4d4d4d;
}

.aside_container .box_content .box_link h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: lighter;
  margin-bottom: 0px;
}

footer {
  background-color: #4d4d4d;
}

footer .footer_container {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

footer .box_info {
  margin: 0 auto;
  width: 400px;
}

footer .box_info h2 {
  color: white;
}

footer .box_info .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .box_info .info h3 {
  font-size: 16px;
  font-weight: lighter;
  color: white;
}

footer .box_info .info img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

footer .box_logo {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .box_logo img {
  width: 250px;
}

footer .box_socialmedia {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .box_socialmedia img {
  width: 60px;
  margin: 0 10px;
}
/*# sourceMappingURL=index.css.map */